@font-face {
    font-family: "JetBrains Mono";
    src: url("woff/JetBrainsMono-Medium.woff") format("woff"),
        url("woff2/JetBrainsMono-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("woff/JetBrainsMono-Bold.woff") format("woff"),
        url("woff2/JetBrainsMono-Bold.woff2Ø") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}